/**
 * The following styles get applied inside the editor only.
 *
 * Replace them with your own styles or remove the file completely.
 */

.wp-block-nc-map {
    min-height: 0!important;
    margin-top: 28px!important;
    margin-bottom: 28px!important;

    textarea {
        max-height: 250px;
    }
}
